body {
    background-image: url("/Images/background.png");
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
    font-family: "Myriad Pro Light", "Calibri Light", sans-serif;
    text-align: center;
    color: white;
    font-weight: lighter;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #0095FE;
    font-weight: 600;
    line-height: 0em;
}

h3 {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 0em;
}

nav {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right:20%;
}

input[type=text] {
    padding: 5px 5px;
    margin: 1px;
    width: 80%;
    background-color: #0c1015;
    color: white;
    border: none;
}

input[type=submit] {
    border: none;
    padding: 5px 20px;
    margin: 2px;
    background-color: #0c1015;
    color: white;

}

.form {
    position: absolute;
    align-content: center;
}

.borderbox {
    display: inline-block;
    width: 10%;
}

.bluebox {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: white;
    border-width: 1px;
    border-style: double;
}

#loginscreen {
    position: fixed;
    top: 2em;
    left: 2em;
    bottom: 0em;
    width: 12em;

}

#registerscreen {
    position: fixed;
    top: 2em;
    left: 2em;
    bottom: 0em;
    width: 12em;
}

#playerstats {
    display: inline-block;
    width: 20%;
    height: 300px;
}

#shipselector {
    display: inline-block;
    width: 30%;
    height: 300px;
}

#gamelobby {
    display: inline-block;
    width: 20%;
    height: 300px;
}

#sbplayer {
    float:left;
    left: 15%;
    width: 20%;
    height: 80px;
}

#sbkdratio {
    position: fixed;
    left: 40%;
    width: 20%;
    height: 80px;
    background-color: #000000;
}

#sbmenu {
    float:right;
    left: 65%;
    width: 20%;
    height: 80px;
}

#guntype {
    position: fixed;
    width: 20%;
    left: 40%;
}

#shiptype {
    position: fixed;
    width: 20%;
    left: 40%;
}

#canvasDiv {
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

#SCPCanvas {
    border-color: white;
    border-width: 1px;
    border-style: solid;

}
