<!DOCTYPE html>
<html ng-app='login'>
<head>
    <meta charset="UTF-8">
    <title>Star Arena Login</title>
    <link href="./CSS/LoginCSS.css" type="text/css" rel="stylesheet">
    <script src="./ExtScripts/jquery-2.2.0.js"></script>
    <script src="./ExtScripts/angular.js"></script>
    <script src="./FrameScripts/loginscript.js"></script>
</head>
<body ng-controller="loginController">

<div id="loginscreen" class="bluebox" ng-hide="showlogin">
    <form id="loginform">
        <img src="./Images/logo.png" width="100%">
        <h2>Login</h2><br>
        Name
        <input type="text" ng-model="loginname"><br><br>
        Password
        <input type="text" ng-model="loginpassword"><br><br>

        <input type="submit" ng-click="loginSubmit()" value="Log In"><br><br>

        <h3>{{loginresult}}</h3><br><br><br>

        <span ng-click="showregister=!showregister; showlogin=!showlogin">Register New Account</span>
    </form>
</div>
<div id="registerscreen" class="bluebox" ng-show="showregister">
    <img src="./Images/logo.png" width="100%"><br>
    <h2>Register</h2><br>
    Name
    <input type="text" ng-model="registername"><br><br>
    Password
    <input type="text" ng-model="registerpassword"><br><br>

    <input type="submit" ng-click="registerSubmit()" value="Log In"><br><br>

    <h3>{{loginresult}}</h3><br><br><br>

    <span ng-click="showregister=!showregister; showlogin=!showlogin">Return to Login</span>
</div>


</body>
</html>
