<!DOCTYPE html>

<html ng-app='game'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Arena</title>
    <link href="./CSS/SCPCSS.css" rel="stylesheet" type="text/css">
    <link href="./CSS/LoginCSS.css" type="text/css" rel="stylesheet">
    <script src="./ExtScripts/jquery-2.2.0.js"></script>
    <script src="./ExtScripts/angular.js"></script>
    <script src="./ExtScripts/socket.io.js"></script>
    <script src="./FrameScripts/gamescript.js"></script>
</head>
<body id="body" ng-controller="gameController">
<nav>
    <div id="sbplayer" class="bluebox">
        <h2>{{lblplayername}}</h2>
        Ship: {{lblshiptype}}<br>
        Weapon: {{lblweapontype}}
    </div>
    <div id="sbkdratio">
        <img src="./Images/logo.png" height="100px" align="top"><br>
        Points: {{lblpoints}} / Defeats: {{lbldefeats}}
    </div>
    <div id="sbmenu" class="bluebox">
        <h2>Options</h2>
        <span ng-click="exitGame()">Exit game</span><br>
        <span ng-click="logOut()">Logout</span>
    </div>
</nav>


<div id="canvasDiv">
    <canvas id="SCPCanvas" width=900 height=500></canvas>
</div>

<div id="players" class="bluebox">
    {{activeusernames[0].name}} {{activeusernames[0].kills}} {{activeusernames[0].deaths}}<br>
    {{activeusernames[1].name}} {{activeusernames[1].kills}} {{activeusernames[1].deaths}}<br>
    {{activeusernames[2].name}} {{activeusernames[2].kills}} {{activeusernames[2].deaths}}<br>
    {{activeusernames[3].name}} {{activeusernames[3].kills}} {{activeusernames[3].deaths}}<br>
    {{activeusernames[4].name}} {{activeusernames[4].kills}} {{activeusernames[4].deaths}}<br>
    {{activeusernames[5].name}} {{activeusernames[5].kills}} {{activeusernames[5].deaths}}<br>
    {{activeusernames[6].name}} {{activeusernames[6].kills}} {{activeusernames[6].deaths}}<br>
    {{activeusernames[7].name}} {{activeusernames[7].kills}} {{activeusernames[7].deaths}}<br>
    {{activeusernames[8].name}} {{activeusernames[8].kills}} {{activeusernames[8].deaths}}


</div>


<script src="./Scripts/Object.js"></script>
<script src="./Scripts/MovObj.js"></script>
<script src="./Scripts/Player.js"></script>
<script src="./Scripts/Proj.js"></script>
<script src="./Scripts/Flare.js"></script>
<script src="./Scripts/netcode.js"></script>
<script src="./Scripts/SCPClient.js"></script>
</body>
</html>