<!DOCTYPE html>

<html ng-app='game'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Arena</title>
    <link href="./CSS/SCPCSS.css" rel="stylesheet" type="text/css">
    <link href="./CSS/LoginCSS.css" type="text/css" rel="stylesheet">
    <script src="./ExtScripts/jquery-2.2.0.js"></script>
    <script src="./ExtScripts/angular.js"></script>
    <script src="./ExtScripts/socket.io.js"></script>
    <script src="./FrameScripts/gamescript.js"></script>
</head>
<body ng-controller="gameController">
<nav>
    <div id="sbplayer" class="bluebox">
        <h2>{{lblplayername}}</h2>
        Ship: {{lblshiptype}}<br>
        Weapon: {{lblweapontype}}
    </div>
    <div id="sbkdratio">
        <img src="./Images/logo.png" height="100px" align="top"><br>
        Points: {{lblpoints}} / Defeats: {{lbldefeats}}
    </div>
    <div id="sbmenu" class="bluebox">
        <h2>Options</h2>
        {{lblsync}}
        <span ng-click="exitGame()">Exit game</span><br>
        <span ng-click="logOut()">Logout</span>
    </div>
</nav>


<div id="canvasDiv">
    <canvas id="SCPCanvas" width=900 height=500></canvas>
</div>


<script src="./Scripts/Object.js"></script>
<script src="./Scripts/MovObj.js"></script>
<script src="./Scripts/Player.js"></script>
<script src="./Scripts/Proj.js"></script>
<script src="./Scripts/Flare.js"></script>
<script src="./Scripts/netcode.js"></script>
<script src="./Scripts/SCPClient.js"></script>
</body>
</html>